:root {
  --white: #fff;
}

.App {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.App::-webkit-scrollbar {
  display: none;
}

.App {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
