.skill-project {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    position: relative;
    height: 100%;
}

.Titles {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Titles > p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 2rem;
    color: #4070f4;
}

.Skills {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.Left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9.3rem;
}

.Right {
    width: 100%;
}

@media (max-width: 768px) {
    .skill-project{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Titles {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .Titles > p {
        font-size: 1.5rem;
    }

    .Skills {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .Left {
        gap: 2rem;
        width: 70%;
    }
}

@media (max-width: 480px) {
    .Titles > p {
        font-size: 1.2rem;
    }

    .Left {
        gap: 1.5rem;
    }
}
